body {
    font-family: Arial, sans-serif;
    background-color: #e6f2ff;
}

.form-box {
    width: 350px;
    margin: 100px auto;
    padding: 25px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 12px gray;
    text-align: center;
}

.form-box h2 {
    margin-bottom: 20px;
}

.form-box input {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-box button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-box button:hover {
    background-color: #0056b3;
}
